## {{ ansible_managed }}
{% for webdomains_zone in bind_config_webdomain_zones %}
######## {{ webdomains_zone.name }} ({{ webdomains_zone.zones|count }} zones)
{% for zone in webdomains_zone.zones %}
zone "{{ zone }}" {
    type master;
    file "{{bind_base_zones_path}}/{{bind_webdomainzones_path}}/db.{{ zone }}";
};
{% endfor %}
{% endfor %}
